/* p{
color: Red;
width:50x;
border: 2px solid grey;
}

li,h1{
color: green;
width:25x;
border: 3px solid grey;
}
h2{
	color: skyblue;
} */


/* Changing the page color */
html {
  background-color: #00786F;
}

/* Styling the body */
body {
  width: 1000px;
  margin: 0 auto;
  background-color: #00ffbf;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
}

/*Positioning and styling the main page title*/
h1 {
  margin: 0;
  padding: 20px 0;
  color: #50f3ff;
  text-shadow: 3px 2px 2px black;
}

/*  Centering the image */
img {
  display: block;
  margin: 0 auto;
}
h1{
	font-size:60px;
	background-color:rgb(205, 50, 122);
	
}
